 .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .contact p {
    margin: 0;
  }
  
  .contact button {
    padding: 5px 10px;
    background-color: lightgray;
    color: black;
    /* border: none; */
   border: 1px solid #ccc;

    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: lightgray;
  } 

  /* .contact{
    width: 20px;
    height: 20px;
  } */

  